* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #263138;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 32px;
  font-weight: 600;
  /* line-height: 110%; */
  margin-bottom: 32px;
}

.paragrafo {
  font-size: 18px;
  line-height: 32px;
}

.area-710 {
  width: 710px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #e91e63;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
}

main {
  margin-top: 81.42px;
}

header nav {
  display: flex;
  gap: 64px; /* duas vezes o espaço do padding - 32px*/
}

header nav a {
  color: #ffffff;
  font-weight: 600;
  transition: all 0.5s;
}

header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 4px; /*Colocar um espaço entre o sublinhado e o texto*/
}

#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px 80px; /*top right bottom left*/
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 48px;
}

.buttons a {
  font-size: 16px;
  font-weight: 600;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

/*botão destaque*/
.botao {
  padding: 16px 32px;
  color: #ffffff;
  background-color: #e91e63;
  border-radius: 10px;
}

/*botão transparente*/
.botao-transparente {
  background-color: transparent;
  color: #e91e63;
  text-decoration: underline;
  text-underline-offset: 4px; /*Colocar um espaço entre o sublinhado e o texto*/
}

/* seção clinica */
#clinica {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-left: 32px;
  line-height: 32px;
}

/* seção farmacia */

#farmacia {
  text-align: center;
  padding: 64px 80px;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

/* seção duvida */
#duvidas {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 64px 80px;
  gap: 64px;
}

/* elemento pai --> para usar a position absolute no filho, o pai precisa da position relative */
#duvidas .duvida {
  position: relative;
}

#duvidas .duvida h3 {
  border: solid 2px #e91e63;
  border-radius: 8px;
  padding: 24px;
  cursor: pointer;
}

#duvidas .duvida img {
  position: absolute;
  top: 32px;
  right: 20px;
}

#duvidas .paragrafo {
  padding: 24px;
  border-left: solid 1px #e91e63;
  border-right: solid 1px #e91e63;
  border-bottom: solid 1px #e91e63;
  border-radius: 0px 0px 8px 8px;
  margin-top: -8px;
}

footer {
  background-color: rgb(233, 33, 99, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}

footer nav a {
  color: #263138;
  display: block;
  margin-bottom: 16px;
  transition: all 0.3s;
}

footer nav a:hover,
footer p a:hover {
  font-weight: 600;
}

footer p a {
  color: #263138;
  transition: all 0.3s;
}

footer p {
  max-width: 330px;
  margin-bottom: 16px;
}

#dev {
  background-color: #263138;
  color: #ffffff;
  padding: 24px;
  text-align: center;
}

#dev a {
  color: #ffffff;
  transition: all 0.5s;
}

#dev a:hover {
  color: #e91e63;
}
